<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/app.css">
    <title>Index</title>
</head>
<body>
<div class="middle">
    <img class="logo" src="/img/logo_full_white.png" alt="woowa_icon">
    <a href="https://kauth.kakao.com/oauth/authorize?client_id=f2f338d4cd150b4802b3dec123673221&redirect_uri=http://localhost:8080/oauth&response_type=code">
        <img class="logo" src="/img/kakao_account_login_btn_large_narrow.png" alt="kakao_login">
    </a>
</div>
</body>
</html>